.slider-input {
  display: none;
}
*{
  margin: 0px;
  padding: 0px;
}
/*body > *, body > * > *, body > * > * > *,
body > * > * > * > *, body > * > * > * > * > * {
  box-shadow: 0 0 0 1px lightgreen;
}*/
html {

}
body {
 margin: auto;
 width: 1200px;
 font-size: 16px;
}


.page-wrapper {
  float: left;
  box-shadow: 0 0 0 1px lightgreen;
  width: 1200px;
  margin: auto;
  background: rgb(132, 157, 143);
    /*background-image: url("../img/bg.png");*/
}
.page-header {

}
.page-header__wrapper {
 min-height: 130px;
 margin-bottom: 517px;
 box-shadow: 0 0 0 1px lightgreen;
}
.logo {
  float: left;
  box-shadow: 0 0 0 1px lightgreen;
}

.main-nav {
  float: left;
  list-style-type: none;
  min-height: 130px;
}
.main-nav__item {
  float: left;
}
.main-nav__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.inner-list {
  list-style-type: none;
  display: none;
}
.inner-list__item {

}
.inner-list__link {
  text-decoration: none;
}
.userblock {
  float: right;
  box-shadow: 0 0 0 1px lightgreen;
}
.userblock__wrapper {
  width: 320px;
  box-shadow: 0 0 0 1px lightgreen;
}
.userblock__item {
  float: left;
  box-shadow: 0 0 0 1px lightgreen;
}
.userblock__item--search::before {
  content: "lupa";
}
form {
display: none;
}
.field-text {

}
.field-group {

}
.field-text__wrapper {

}
.field-text__item {

}
.field-text__input {

}
.field-text__text {

}
.userblock-link {

}
.field-action {

}
.field-action__btn {

}
.btn {

}
.link {

}
.userblock__link {

}
.userblock__link--fullbasket {

}
.userblock-basket {

}
.userblock-basket__item {

}
.userblock-basket__img {

}
.userblock-basket__description {

}
.userblock-basket__description-text {

}
.userblock-basket__weight {

}
.userblock-basket__weight-text {

}
.userblock-basket__prize {

}
.userblock-basket__prize-text {

}
.hr {

}
.userblock-basket__text {

}
.userblock-basket__link {

}
.userblock-info {
width: 320px;
 float: right;
}
.userblock-text {

}
.userblock-text--bold {

}


/*Слайдер*/
.slider {
  display: none;
}
.slide {

}
.slide-title {

}
.slide-btn {

}
.slider-controls {

}



main {

}
.banners {

}
.banners__wrapper {
 width: 1146px;
 margin: auto;
}
.banner {
 width: 560px;
 height: 230px;
 float: left;
 margin-right: 26px;
}
.banner:last-child {
  margin-right: 0px;
}
.banner__title {

}
.banner__text {

}

.products {
 margin: 0px 27px;
}
.product-item {
 height: 350px;
 width: 267px;
 margin-right: 26px;
 float: left;
}
.product-item:last-child {
  margin-right: 0px;
}
.product-item--hit {

}
.product-item__img {

}
.product-item__prize {

}
.product-item__description {

}

.features {
  float: left;
  height: 310px;
  margin: 0px 27px;
}
.features__title {

}
.features__list {
  list-style-type: none;
}
.features__item {

}


.banner-blog {
  float: left;
  margin-left: 27px;
}
.banner-blog__text {

}
.banner-blog__link {

}
.banner--delivery {
  float: left;
  margin-left: 27px;
}
.banner-delivery__text {

}



.map {
  float: left;
  width: 1200px;
 height: 430px;
 margin: 0px;
 background-image: url("../img/map.png");
}
.feedback {

}
.feedback__info {

}
.feedback__text {

}
.feedback__btn {

}




.page-footer {
  width: 1200px;
  float: left;
}
.page-footer__wrapper {

}
.social-block {

}
.social-item {

}
.social-item--twitter {

}
.social-item--instagram {

}
.social-item--fb {

}
.social-item--vk {

}

.footer-links {

}
.footer-links--item {

}
.footer-links__link {

}

.copyright {

}
.copyright__link {

}
.copyright__text {

}
