.slider-input {
  display: none;
}

* {
  box-sizing: border-box;
}

html {

}

body {
  font-family: 'Roboto','Open Sans', sans-serif;
  color: #ffffff;
}

form {
  box-sizing: border-box;
  margin: 0px;
  position: absolute;
  padding: 20px 15px;
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 5px 20px 50px 0px #555555;
  z-index: 400;
}

ul {
  list-style: none;
}

input {
  border: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

a, .btn {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

a:hover,
a:active {
  color: #ffbc9e;
}

h1 {
  display: inline-block;
  margin-left: 27px;
  font-size: 35px;
  line-height: 41px;
}

tr {
  text-align: left;
  margin: 7px 0px 6px;
  padding: 0px;
}

td {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}

td p {
  vertical-align: top;
  margin: 0px;
}

td img {
  border-radius: 50%;
}

.page-wrapper {
  min-width: 1200px;
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: top center;
  transition: 0.5s;
}

.catalog {
  background: #849d8f;
}

.page-header {
  margin-bottom: 370px;
}

.page-header__wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.page-header__wrapper {
  width: 1200px;
  margin: auto;
}

.userblock {
  text-align: right;
}

.logo {
  position: relative;
  padding-left: 22px;
  padding-top: 10px;
  float: left;
}

.logo__link {
  cursor: pointer;
}

.main-nav {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  margin-left: 50px;
  margin-top: 23px;
  max-width: 600px;
}

.main-nav__item {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 20px;
}

.main-nav__link::after {
  display: block;
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  height: 1px;
  bottom: 7px;
  left: 12px;
  right: 12px;
}

.main-nav__link {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  padding: 7px 12px;
}

.main-nav__link:hover {
  background: #f7f6f3;
  color: #323232;
  border-radius: 16px;
  font-weight: bold;
  z-index: 400;
}

.main-nav__item:hover .main-nav__link::after {
  display: none;
}

.main-nav__link:focus {
  box-shadow: inset 0px 2px 1px 0px;
}

.inner-list {
  display: none;
  position: absolute;
  background: #f8f7f4;
  color: #232323;
  top: 35px;
  left: -7px;
  border-radius: 5px;
  padding: 0px;
  z-index: 400;
}

.inner-list__item:before {
  display: block;
  width: 123px;
  height: 1px;
  background: #929190;
  position: absolute;
  bottom: 0px;
  margin: auto;
  z-index: 200;
}

.main-nav__item:hover .inner-list {
  display: block;
}

.inner-list__link {
  display: inline-block;
  vertical-align: top;
  width: 143px;
  text-align: left;
  margin: 0px;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 16px;
  color: #232323;
}

.inner-list__link--bold {
  font-weight: bold;
}

.inner-list__link--bold::after {
  display: block;
  content: "";
  position: absolute;
  background: rgb(209, 208, 206);
  height: 1px;
  top: 35px;
  left: 12px;
  right: 12px;
}

.inner-list__link:hover {
  background: #fbded7;
  color: inherit;
}

.inner-list__link:active {
  background: #f6b5a5;
  color: inherit;
}

.userblock {
  float: right;
  position: relative;
  margin-right: 27px;
  margin-top: 23px;
}

.userblock__item {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
  vertical-align: middle;
  margin-left: 5px;
}

.userblock__link:hover {
  background: #f8f7f4;
  color: #232323;
  border-radius: 16px;
  font-weight: bold;
}

.userblock__item--search .field-text__input {
  width: 310px;
}

.userblock__item--search:hover .search-form {
  display: block;
}

.userblock__item--search:focus .search-form {
  display: block;
}

.userblock__item--entrance:hover .entrance-form {
  display: block;
}

.search-form {
  display: none;
  width: 340px;
  right: 0px;
  top: 40px;
  }

.entrance-form {
  display: none;
  width: 277px;
  top: 40px;
  right: 0px;
  z-index: 400;
}

.entrance-form .link {
  color: #323232;
  padding-left: 120px;
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
}

.entrance-form .link:hover,
.entrance-form .link:active {
  color: #e84d37;
}

.field-action--entrance .field-action__btn {
  position: absolute;
  bottom: 22px;
  left: 15px;
}

.field-text__input {
  margin: 0px;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 15px;
  border-radius: 5px;
  border: 2px solid #d3d3d2;
  color: #323232;
  font-weight: bold;
}

.field-text__input--margin {
  margin-bottom: 20px;
}

.field-text__input:focus {
  border-radius: 5px;
  border: 2px solid #d3d3d2;
}

.userblock__link {
  position: relative;
  display: inline-block;
  margin: 0px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255,255,255, 0.3);
  border-radius: 16px;
  height: 32px;
  padding-left: 45px;
  padding-right: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.userblock__link--entrance::before {
  position: absolute;
  left: 15px;
  top: 5px;
  height: 21px;
  width: 19px;
  background: url(../img/spritesheet.png) no-repeat -229px -65px;
  display: inline-block;
  content: "";
  vertical-align: top;
}

.userblock__link--entrance:hover::before {
  background: url(../img/spritesheet.png) no-repeat -5px -94px;
}

.userblock__item--basket:hover .basket-wrapper {
  display: block;
}

.userblock__link--basket::before {
  position: absolute;
  left: 15px;
  top: 5px;
  width: 21px;
  height: 20px;
  display: inline-block;
  content: "";
  background: url(../img/spritesheet.png) no-repeat -169px -5px;
  vertical-align: middle;
}

.userblock__link--basket:hover::before {
  background: url(../img/spritesheet.png) no-repeat -200px -5px;
}

.userblock__link--search {
  width: 32px;
  padding: 7px;
}

.userblock__link--search::before {
  position: absolute;
  left: 8px;
  width: 17px;
  height: 17px;
  display: inline-block;
  content: "";
  background: url(../img/spritesheet.png) no-repeat -232px -187px;
  vertical-align: middle;
}

.userblock__link--search:hover::before {
  background: url(../img/spritesheet.png) no-repeat -260px -187px;
}

.field-text__item--search {
  width: 340px;
}

.field-action {
  display: inline-block;
  vertical-align: bottom;
  border-radius: 20px;
}

.field-action__btn--white {
  display: inline-block;
  padding: 7px 28px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 100px;
}

.field-action__btn--white:hover {
  color: #323232;
  background: #fbfcfb;
  border: none;
  padding: 10px 31px;
}

.field-action__btn--white:active {
  box-shadow: inset 0px 2px 1px 0px #696969;
  border: none;
  outline: none;
  padding: 10px 28px;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  font-weight: 600;
  vertical-align: top;
  color: #ffffff;
  font-size: 18px;
  border-radius: 100px;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover,
.btn:active {
  color: #ffffff;
 }

.btn:hover {
  background: #f98b76;
}

.btn:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.btn:focus {
  outline: none;
}

.banner-btn {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 23px;
  cursor: pointer;
  position: relative;
  float: right;
}

.basket-wrapper {
  display: none;
  box-sizing: border-box;
  margin: 0px;
  position: absolute;
  padding: 20px 15px;
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 5px 20px 50px 0px #555555;
  z-index: 600;
  width: 539px;
  right: 0px;
  top: 40px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}


.userblock-basket__item {
  display: inline-block;
}

.userblock-basket__src {
  width: 68px;
  padding-left: 25px;
  position: relative;
  top: -8px;
}

.userblock-basket__src::before,
.userblock-basket__src::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #323232;
  top: 16px;
  left: -2px;
}

.userblock-basket__src::before {
  transform: rotate(45deg);
}

.userblock-basket__src::after {
  transform: rotate(-45deg);
}

.userblock-basket__description {
  width: 250px;
}

.userblock-basket__weight {
  width: 120px;
}

.userblock-basket__weight-text span {
  opacity: 0.6;
}

.userblock-basket__price {
  width: 57px;
}

.userblock-basket__price-text {

}

.userblock-basket__text {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  color: #333333;
}

.userblock-info {
  position: absolute;
  margin-top: 18px;
  float: right;
  text-align: right;
}

.userblock-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 8px;
}

.userblock-text--bold {
  display: inline-block;
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
  margin: 0px;
}

/*Слайдер*/
.slider {
  width: 1200px;
  margin: auto;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  font-weight: 800;
  font-size: 60px;
  margin: 0px auto;
  margin-bottom: 30px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 27px;
  z-index: 20;
  font-size: 0px;
}

.slider-controls .slider-controls__label:hover {
  background: #ffffff;
  opacity: 0.6;
}

.slider-controls .slider-controls__label:active {
  background: #ffffff;
  opacity: 1;
}

.slider-controls .slider-controls__label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .page-wrapper #slide1,
#btn-2:checked ~ .page-wrapper #slide2,
#btn-3:checked ~ .page-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .page-wrapper .slider-controls__label[for="btn-1"],
#btn-2:checked ~ .page-wrapper .slider-controls__label[for="btn-2"],
#btn-3:checked ~ .page-wrapper .slider-controls__label[for="btn-3"] {
  background: #ffffff;
}

#btn-1:checked ~ .page-wrapper {
  background-image:  url(../img/slide-1.png);
  background-color: #849d8f;
}

#btn-2:checked ~ .page-wrapper {
  background-image:  url(../img/slide-2.png);
  background-color: #8996a6;
}

#btn-3:checked ~ .page-wrapper {
  background-image:  url(../img/slide-3.png);
  background-color: #9d8b84;
}

main {
  margin: auto;
  margin-top: 40px;
  width: 1200px;
}

main::after {
  display: table;
  content: "";
  clear: both;
}

.banners {
  width: 1146px;
  margin: auto;
  margin-bottom: 40px;
}


.banners__wrapper {
  width: 1146px;
  margin: auto;
  margin-bottom: 40px;
}

.banners__wrapper::after {
  display: table;
  content: "";
  clear: both;
}

.banner {
  position: relative;
  width: 560px;
  float: left;
  margin-right: 26px;
  border-radius: 20px;
}

.banner--raspberries {
  background-image: url(../img/raspberries.jpg);
  background-repeat: no-repeat;
}

.banner--chocolate {
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
}

.banner--right {
  margin-right: 0px;
}

.banner__title {
  display: inline-block;
  font-size: 35px;
  line-height: 41px;
  font-weight: 600;
  padding: 16px 20px;
  vertical-align: top;
  margin: 0px;
}

.banner__text {
  padding: 0px;
  font-size: 18px;
  line-height: 22px;
  padding: 0px 20px 45px;
  margin: 0px;
}

.products {
  position: relative;
  width: 1146px;
  margin: auto;
}

.products::after {
  display: table;
  content: "";
  clear: both;
}

.products__link {
  z-index: 10;
}

.product-item {
  position: relative;
  width: 267px;
  float: left;
  margin-right: 26px;
  margin-bottom: 40px;
}

.product-item img {
  border-radius: 50%;
}

.product-item:nth-of-type(4n) {
  margin-right: 0px;
}

.product-item__hover {
  display: none;
}

.product-item__hover {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  z-index: 20;
  top: -10px;
  bottom: -80px;
  left: -13px;
  width: 293px;
  text-align: center;
  border-radius: 5px;
}

.product-item:hover .product-item__hover {
  display: block;
}

.product-item__link {
  bottom: -60px;
  position: absolute;
  display: inline;
  margin: 0px 31px;
  z-index: -1;
}

.product-item:hover .product-item__link {
  z-index: 500;
}

.product-item::before {
  content: "";
  width: 61px;
  height: 61px;
  position: absolute;
  z-index: 2;
  background: url(../img/sprite.png) no-repeat -134px -5px;
}

.product-item--right {
  margin-right: 0px;
}

.product-item__img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.product-item__priсe {
  margin: 0px;
  position: absolute;
  top: 210px;
  font-size: 23px;
  line-height: 45px;
  z-index: 10;
}

.product-item__priсe span {
  font-size: 45px;
  font-weight: bolder;
}

.product-item__description {
  text-align: center;
  top: 285px;
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
}

.features {
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 1146px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 20px;
  background-image: url(../img/wafer.jpg);
  background-repeat: repeat;
}

.features::after {
  display: table;
  content: "";
  clear: both;
}

.features__title {
  margin: 0px;
  padding: 28px 20px 25px;
  font-family: 'Roboto','Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.features__list {
  margin: inherit;
  padding: inherit;
}

.features__item {
  float: left;
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 24px;
  padding-left: 78px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  width: 560px;
  color: #323232;
}

.features__item:nth-child(2n) {
  padding-right: 30px;
}

.features__item--ice-cream::before {
  position: absolute;
  left: 20px;
  top: -13px;
  width: 49px;
  height: 49px;
  content: "";
  background: url(../img/sprite.png) no-repeat -5px -76px;
}

.features__item--leaflet::before {
  position: absolute;
  left: 20px;
  top: -13px;
  width: 49px;
  height: 49px;
  content: "";
  background: url(../img/sprite.png) no-repeat -164px -76px;
}

.features__item--kow::before {
  position: absolute;
  left: 20px;
  top: -13px;
  width: 49px;
  height: 49px;
  content: "";
  background: url(../img/sprite.png) no-repeat -106px -76px;;
}

.features__item--thermometer::before {
  position: absolute;
  left: 20px;
  top: -13px;
  width: 49px;
  height: 49px;
  content: "";
  background: url(../img/sprite.png) no-repeat -150px -155px;
}

.banner-blog {
  background-image: url(../img/strawberry.png);
  background-repeat: no-repeat;
}

.banner-blog__text {
  display: inline-block;
  margin: 24px 0px 10px;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 0px 250px 0px 20px;
}

.banner-blog__link {
  display: inline-block;
  margin: 0px;
  margin-bottom: 77px;
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding: 0px 250px 0px 20px;
  text-decoration: underline;
}

.banner-blog__link:hover,
.banner-blog__link:active {
  color: #e84d37;
}

.banner--delivery {
  background-image: url(../img/post.jpg);
  background-repeat: no-repeat;
  height: 222px;
  padding: 5px;
}

.banner__wrapper {
  background-color: #f8f7f4;
  border-radius: 15px;
  height: 210px;
}

.banner-delivery__text {
  margin: 0px;
  padding: 32px 20px 37px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #5a5a5a;
}

.delivery-form {
  display: block;
  box-shadow: none;
  padding: 0px;
  padding-left: 20px;
}

.field-text__input--delivery {
  width: 368px;
}

.delivery-form .field-action__btn {
  position: absolute;
  top: 0px;
  right: -140px;
  border: 0px;
}

.map {
  width: 1200px;
  margin: auto;
  position: relative;
  background-image: url(../img/map.jpg);
  height: 430px;
}

.map::before {
  position: absolute;
  content: url(../img/pin.png);
  left: 265px;
  top: 140px;
}

.feedback {
  position: absolute;
  margin: 0px;
  background-color: #fffffe;
  color: #323232;
  width: 305px;
  right: 27px;
  top: 62px;
  padding-top: 30px;
  border-radius: 10px;
}

.feedback__info {
  padding-left: 20px;
  margin-bottom: 22px;
}

.feedback__text {
  margin: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.feedback__text span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.feedback__btn {
  margin: 0px 28px 30px;
  padding: 12px 27px 12px;
  text-align: center;
}

.page-footer {
  width: 1200px;
  margin: auto;
  border-top: 1px solid #a9bbb1;
}

.page-footer__wrapper::after {
  display: table;
  content: "";
  clear: both;
}

.social-block {
  float: left;
  position: relative;
  margin-top: 30px;
  margin-left: 27px;
  margin-bottom: 30px;
  width: 250px;
}

.social-link {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  border: 3px solid #c2cec7;
  border-radius: 100%;
  margin-right: 8px;
}

.social-link:hover {
  border: 3px solid #dae2de;
  background-color: rgba(255, 255, 255, 0.2);
}

.social-link:active {
    box-shadow: inset 0px 2px 1px 0px #888888;
}

.social-link--twitter {
  background: url(../img/spritesheet.png) no-repeat -126px -249px;
}

.social-link--instagram {
  background: url(../img/spritesheet.png) no-repeat -236px -97px;
}

.social-link--fb {
  background: url(../img/spritesheet.png) no-repeat -39px -97px;
}

.social-link--vk {
  background: url(../img/spritesheet.png) no-repeat -169px -249px;
}

.footer-links {
  margin: 0px;
  padding: 0px;
  margin-top: 27px;
  margin-left: 135px;
  float: left;
  width: 420px;
}

.footer-links::after {
  display: table;
  content: "";
  clear: both;
}

.footer-links__item {
  display: inline-block;
}

.footer-links__item:nth-of-type(2n) {
  margin-left: -55px;
}

.footer-links__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: block;
  padding-left: 32px;
  width: 200px;
}

.footer-links__link:hover {
  font-weight: 700;
}

.footer-links__link--img::before {
  position: absolute;
  left: 12px;
  top: 3px;
  content: url(../img/heart.png)
}

.copyright {
  margin-top: 15px;
  margin-right: 27px;
  width: 190px;
  float: right;
}

.copyright__text {
  margin: 0px;
  font-size: 12px;
  line-height: 18px;
}

.main-nav__link--active {
  background: #d07058;
  border-radius: 16px;
}

.catalog main {
  margin: auto;
}

.catalog .page-header {
  margin-bottom: 100px;
}

.breadcrumbs {
  width: 1146px;
  padding: 0px;
  margin: auto;
}

.breadcrumbs-item {
  display: inline-block;
}

.breadcrumbs__link {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  padding-right: 20px;
}

.breadcrumbs__link::after {
  position: absolute;
  content: "";
  right: 5px;
  top: 6px;
  width: 6px;
  height: 6px;
  background: url("../img/spritesheet.png") no-repeat -231px -5px;
}

.breadcrumbs__link--last::after {
  content: "";
  background: none;
}

.field-select {
  display: block;
}

.select-form {
  width: 1146px;
  display: block;
  padding: 0px;
  margin-left: 27px;
  box-shadow: none;
  background: transparent;
  position: relative;
  margin-bottom: 40px;
}

.field-group {
  display: inline-block;
  vertical-align: top;
}

.select-form .field-select__title {
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
}

.select-form .field-checkbox__wrapper,
.select-form .field-select__wrapper,
.select-form .field-radio__wrapper,
.select-form .field-checkbox__wrapper {
  height: 36px;
  padding: 10px 15px;
  background: #a9bbb1;
  border-radius: 18px;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  color: #ffffff;
  margin-right: 15px;
}

.select-form .field-select__wrapper:hover {
  color: #323232;
  background: #ffffff;
}

.select-form__btn {
  display: inline-block;
  vertical-align: top;
  padding: 7px 27px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}

.select-form__btn:hover {
  font-weight: bolder;
  color: #323232;
  background: #ffffff;
}

.select-form__btn:active {
  background: #eaeaea;
  box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.7);
}

.field-select__select {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  border: none;
  background: transparent;
  padding: 0px;
  margin: -2px;
  color: inherit;
  vertical-align: top;
}

.field-select__select:focus {
  outline: none;
}

.field-select__select-item {
  font-size: 14px;
  line-height: 16px;
  width: 191px;
}

.field-checkbox__wrapper--range {
  position: relative;
  width: 218px;
  padding: 16px 15px;
  overflow: hidden;
  cursor: none;
}

.field-checkbox__title,
.field-select__title,
.field-radio__title {
  margin-bottom: 6px;
  margin-top: 16px;
  padding-left: 15px;
}

.field-checkbox__scale {
  margin-top: 6px;
  background: #d1dad3;
  height: 4px;
  top: 6px;
}

.field-checkbox__bar {
  position: absolute;
  height: 4px;
  background: #f8f7f4;
  width: 100px;
  left: 40px;
}

.field-checkbox__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #f8f7f4;
  top: 8px;
}

.field-checkbox__toggle:hover {
  top: 7px;
  width: 22px;
  height: 22px;
  border-radius: 11px;
}

.field-checkbox__min-toggle {
  left: 30px;
}

.field-checkbox__min-toggle:hover {
  left: 29px;
}

.field-checkbox__max-toggle {
  left: 130px;
}

.field-checkbox__max-toggle:hover {
  left: 129px;
}

.field-radio__item,
.field-checkbox__item {
  position: relative;
}

.field-radio__input {
  display: none;
}

.field-radio__input + .field-radio__text {
  padding-left: 29px;
  padding-right: 10px;
}

.field-radio__input + .field-radio__text::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  width: 22px;
  height: 22px;
  background: url("../img/spritesheet.png") no-repeat -63px -155px;
}

.field-radio__input + .field-radio__text:hover::before {
  background: url("../img/spritesheet.png") no-repeat -326px -155px;
}

.field-radio__input:checked + .field-radio__text::before {
  background: url("../img/spritesheet.png") no-repeat -233px -155px;
}

.field-radio__input:checked + .field-radio__text:hover::before {
  background: url("../img/spritesheet.png") no-repeat -264px -155px;
}

.field-checkbox__input {
  display: none;
}

.field-checkbox__input + .field-checkbox__text {
  padding-left: 31px;
  padding-right: 17px;
}

.field-checkbox__input + .field-checkbox__text::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: url("../img/spritesheet.png") no-repeat -247px -5px;
}

.field-checkbox__input + .field-checkbox__text:hover::before {
  background: url("../img/spritesheet.png") no-repeat -169px -65px;
}

.field-checkbox__input:checked + .field-checkbox__text::before {
  background: url("../img/spritesheet.png") no-repeat -169px -35px;
}

.field-checkbox__input:checked + .field-checkbox__text:hover::before {
  background: url("../img/spritesheet.png") no-repeat -199px -35px;
}

.pagination {
  margin: 25px 27px 20px 0px;
  padding: 0px;
  float: right;
}

.pagination__item {
  display: inline-block;
}

.pagination__link {
  font-size: 16px;
  line-height: 18px;
  padding: 5px 10px;
}

.pagination__link:hover {
  border-radius: 100%;
  background: #9db1a5;
  color: #ffffff;
  font-weight: bolder;
}

.pagination__link:active {
  background: #ffffff;
}

.pagination__link--active {
  background: #ffffff;
  border-radius: 100%;
  color: #323232;
  font-weight: bold;
}

.pagination__link--prev,
.pagination__link--next {
  opacity: 0.7;
}

.pagination__link--prev:hover,
.pagination__link--next:hover {
  background: #849d8f;
  color: #ffffff;
  opacity: 1;
}

.modal-content {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
  padding: 18px 25px 25px;
}

.modal-content-show {
  display: block;
}

.feedback-form {
  position: fixed;
  display: block;
  width: 478px;
  top: 50%;
  left: 50%;
  margin-left: -239px;
  margin-top: -221px;
}

.modal-content .feedback__title {
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  color: #323232;
  font-size: 24px;
  line-height: 28px;
}

.modal-content input {
  margin-bottom: 20px;
}

.field-text__input--short {
  width: 267px;
}

.modal-content .btn {
  display: inline-block;
  position: relative;
  margin: 0px;
  margin-top: 15px;
  left: 310px;
}

.modal-content .field-text__input [placeholder] {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.modal-content-close {
  position: relative;float: right;
  width: 30px;
  height: 30px;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  background: #000000;
  height: 23px;
  width: 2px;
  right: 13px;
  top: 3px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}
